# General
.git
.gitignore
.DS_Store
node_modules

# Next.js Specific
.next
out
public/static
*.log
*.swp
.env
.env.*
.idea
.vscode

# Optional - Depending on Your Project
coverage
.nyc_output
storybook-static
build
dist

# Ignore files generated during development
next-env.d.ts

# Local development files
local.settings.json